
@{
    ViewBag.Title = "CAIT Content Management";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            @*<i class="fa fa-angle-right"></i>*@
        </li>
    </ul>
</div>
@*Bắt đầu nội dung tùy chỉnh*@
<div class="row">
    <div class="col-md-12">
        <h2>Trang chủ quản lý</h2>
    </div>
</div>


