/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
 /* Style the CKEditor element to look like a textfield */
        .cke_textarea_inline {
            padding: 10px;
            height: 70px;
            overflow: auto;
            border: 1px solid #e5e5e5;
            -webkit-appearance: textfield;
        }
        /*Start Phân trang*/

.navigation
{
    color: #666;
    border: 0px;
    margin-bottom:2px;
    float:right;
}

.navigation a:link, .navigation a:visited, .navigation a:hover, .navigation a:active
{
    text-decoration: none;
    color: #636363;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    padding: 3px 8px;
    font-size: 12px;
    margin:1px 2px;
}

.navigation a:hover
{
    background: #799AE3;
    color: #FFFFFF;
    border-color: #E6E6E6;
}

.navigation span, .navigation a.selected
{
    text-decoration: none;
    background: #fff;
    padding: 3px 8px;
    border: 1px solid #E6E6E6;
    color: #ccc;
    font-size: 12px;
    margin:1px 2px;
}
/*End phân trang*/
.form-wizard .steps > li > a.step {
  padding: 0;
}