@using Entities.Models;
@using Entities.Enums;
@model IEnumerable<District>
@{
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Province, ActionEnum.Delete);
    var canCreate = RoleHelper.CheckPermission(ModuleEnum.Province, ActionEnum.Create);
    var canUpdate = RoleHelper.CheckPermission(ModuleEnum.Province, ActionEnum.Update);
}
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-cogs"></i>Danh sách quận/huyện thuộc @ViewBag.ProvinceName
    </div>
</div>
<div class="portlet-body">
    @if (canCreate)
    {
        <div class="pull-right" style="margin-bottom:10px;">
            <button id="district_add_new" class="btn green">
                <i class="fa fa-plus"></i> Nhập mới
            </button>
            <input type="hidden" name="hiddenProvinceId" id="hiddenProvinceId" value="@ViewBag.ProvinceId" />
        </div>
    }
    <div style="clear:both;"></div>
    <table class="table table-striped table-hover table-bordered" id="district_editable">
        <thead>
            <tr>
                <th>Tên quận/huyện</th>
                <th>Cập nhật</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr data-objectid="@item.Id">
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @if (canUpdate)
                            {
                                <a class="edit" href="javascript:;">
                                    Cập nhật
                                </a>
                            }
                        </td>
                        <td>
                            @if (canDelete)
                            {
                                <a class="delete" href="javascript:;">
                                    Xóa
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
