@model Entities.Models.Profile
@{
    byte type = ViewBag.Type;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">@(type == 2 ? "Nhập lý do hủy duyệt hồ sơ" : "Nhập lý do không duyệt hồ sơ") của @Model.Name</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <h4>Nhập lý do</h4>
            <form class="form-un-approve">
                <p>
                    <input type="hidden" name="type" value="@ViewBag.Type" />
                    <input type="hidden" name="profileId" value="@Model.Id" />
                    <textarea name="UnApprovedMessage" id="UnApprovedMessage"></textarea>
                </p>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn red btn-un-approve" type="button"><i class="fa fa-check"></i> Ghi nhận</button>
    <button class="btn" data-dismiss="modal" type="button">Hủy bỏ</button>    
</div>
<script type="text/javascript">
    CKEDITOR.replace('UnApprovedMessage', {
        toolbar: [
            ['Bold', 'Italic', '-', 'Link', 'Unlink'], ['FontSize', 'TextColor', 'BGColor']
        ]
    });

    //$.fn.modal.Constructor.prototype.enforceFocus = function () {
    //    modal_this = this
    //    $(document).on('focusin.modal', function (e) {
    //        if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
    //            // add whatever conditions you need here:
    //        &&
    //        !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
    //            modal_this.$element.focus()
    //        }
    //    })
    //};
</script>