@{
    Layout = null;
    string domainName = Request.Url.Scheme + "://" + Request.Url.Authority;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông báo</title>
</head>
<body>
    <div style="margin:200px auto; width:650px; text-align:center;">
        <h4>@ViewBag.Message</h4>
        <p>Đang chuyển đến trang chủ, xin vui lòng đợi...</p>
        <img src="~/Images/AdminV1/throbber.gif" alt="vui lòng đợi..." />
    </div>
    @Scripts.Render("~/bundles/adminv1/jquery")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            setTimeout(function () { window.location = '@domainName'; }, 5000);
        });
    </script>
</body>
</html>