<div class="bottom_content">
    @{Html.RenderAction("BottomAlbum", "Shared");}
</div>
<div class="footer">
    @{Html.RenderAction("BottomMenu", "Shared");}
    @{Html.RenderAction("FooterLink", "Shared");}
</div>
<div class="share">
    <ul>
        <li><a href="#"><img src="~/Images/FrontEndV1/share1.jpg" alt="" /></a></li>
        <li><a href="#"><img src="~/Images/FrontEndV1/share2.jpg" alt="" /></a></li>
        <li><a href="#"><img src="~/Images/FrontEndV1/share3.jpg" alt="" /></a></li>
        <li><a href="#"><img src="~/Images/FrontEndV1/share4.jpg" alt="" /></a></li>
    </ul>
</div>
