<div class="page-footer">
    <div class="page-footer-inner">
        <span>@DateTime.Now.Year</span>
        &copy; Vua Mặt Bằng. Developed by <a title="eBtech" target="_blank" href="http://ebtech.vn"><i>eBtech</i></a>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>