<div class="page-footer">
    <div class="page-footer-inner">
        @if (DateTime.Now.Year <= 2014)
        {
            <span>2014</span>
        }
        else
        {
            <span>2014-@DateTime.Now.Year</span>
        }
        &copy; <a title="eBtech" target="_blank" href="http://ebtech.vn">eBtech</a>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>