.category-header {
    background: url(../../Images/FrontEndV1/bg_slide_detail.jpg) repeat-x center;
    height: 175px;
    overflow: hidden;
    /*margin-bottom: 20px;*/
}

    .category-header .category-header-detail {
        width: 988px;
        margin: 0 auto;
        position: relative;
        height: 175px;
        overflow: hidden;
    }

        .category-header .category-header-detail h2 {
            position: absolute;
            bottom: 0px;
            left: 3px;
            background: #414141;
            padding: 0 10px;
            color: #ffffff;
            font-size: 30px;
            line-height: 58px;
            min-width: 360px;
            text-transform: uppercase;
            font-weight: normal;
        }

        .category-header .category-header-detail img {
            width: 988px;
            height: 175px;
        }

.category-content {
    width: 988px;
    margin: 0 auto 40px;
}

    .category-content:after {
        clear: both;
    }

    .category-content:before, .category-content:after {
        content: " ";
        display: table;
    }

.category-detail {
    float: left;
    width: 757px;
    margin-top: 15px;
}

.right-content {
    float: right;
    width: 196px;
    margin-right: 1px;
}

.category-detail li {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden;
    width: 318px;
    background-color: #ececec;
    padding: 20px;
    min-height: 418px;
    position: relative;
}

.category-detail h2 {
    border-bottom: 1px solid #c7c7c7;
    color: #383838;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 8px !important;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: 'UVNTinTucHepThemBold';
}

    .category-detail h2 a {
        color: #383838;
    }

        .category-detail h2 a:hover {
            color: #008a00;
        }

.category-detail h3 {
    background: url("../../Images/FrontEndV1/bg_line.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0);
    color: #444444;
    display: block;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: normal;
}

.category-detail .list1 {
    color: #6f6f6f;
    line-height: 18px;
    margin-right: 15px;
    border-bottom:1px solid #c7c7c7;
    font-size:13px;
    margin-bottom:20px;
}

    .category-detail .list1 a {
       color: #008a00;
    display: block;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
    font-size:18px;
    }

        .category-detail .list1 a:hover {
            color: #6f6f6f;
        }

    .category-detail .list1 .pic img {
        min-width: 150px;
        min-height: 96px;
        width: 150px;
        height: 96px;
    }